<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <joint name="ir_base_joint" type="fixed">
        <parent link="base_link"/>
        <child link="ir_base"/>
        <origin xyz="0.1 0 0.1" rpy="0 0 0"/>
    </joint>

    <link name="ir_base">
        <visual>
            <geometry>
                <cylinder radius="0.16" length="0.02"/>
            </geometry>
        </visual>
    </link>

    <gazebo reference="ir_base">
        <material>Gazebo/Yellow</material>
    </gazebo>

    <joint name="ir_joint" type="fixed">
        <parent link="ir_base"/>
        <child link="ir"/>
        <origin xyz="0 0 0.015" rpy="0 0 0"/>
    </joint>
    
    <link name="ir">
        <visual>
            <geometry>
                <box size="0.01 0.02 0.01"/>
            </geometry>
        </visual>
    </link>

    <gazebo reference="ir">
        <material>Gazebo/Red</material>

        <sensor name="ir_sensor" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>1000</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>9</samples>
                        <resolution>1</resolution>
                        <!-- clockwise -->
                        <min_angle>1.57</min_angle>
                        <max_angle>-1.57</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.0</min>
                    <max>0.87</max>
                </range>
                <noise>
                    <type>gaussian</type>
                    <!-- Noise parameters based on published spec for Hokuyo laser
                        achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
                        stddev of 0.01m will put 99.7% of samples within 0.03m of the true
                        reading. -->
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </ray>
            <plugin name="laser_controller" filename="libgazebo_ros_laser.so">
                <topicName>ir</topicName>
                <frameName>/ir</frameName>
            </plugin>
        </sensor>
    </gazebo>
</robot>
